* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

.center-size {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-image: url(img/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1 {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 217px;
}

.top-text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  padding-top: 32px;
}

.button {
  border-radius: 30px;
  background: #9C0332;
  width: 234px;
  height: 49px;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  margin-top: 44px;
}

.button:hover {
  color: #9C0332;
  background: #FFF;
}

.bottom {
  height: 556px;
  background: #000915;
}

.content {
  padding-top: 128px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  display: flex;
}

.content-img {
  width: 379px;
}

.game {
  position: relative;
}

.g-link {
  position: absolute;
  left: 32px;
  top: 237px;
  color: #FFF;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
  text-decoration: none;
}

.g-link:hover {
  text-decoration: underline;
}

.doublebottom {
  height: 800px;
  background-color: #000915;
  display: flex;
}

.button2:hover {
  color: #9C0332;
  background: #FFF;
}

.h2 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.doublebottom-text {
  padding-top: 32px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin: auto;
}

.button2 {
  border-radius: 30px;
  background: #9C0332;
  width: 234px;
  height: 49px;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  margin-top: 44px;
}

.content2 {
  width: 584px;
  height: 236px;
  padding-top: 282px;
}

.pic {
  width: 485px;
  height: 333px;
  padding-left: 135px;
  padding-top: 234px;
}

.triplebottom {
  height: 800px;
  background-color: #000915;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.triplebottom-text {
  padding-top: 32px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin: auto;
}

.h3 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button3 {
  border-radius: 30px;
  background: #9C0332;
  width: 234px;
  height: 49px;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  margin-top: 44px;
}

.button3:hover {
  color: #9C0332;
  background: #FFF;
}

.content3 {
  width: 584px;
  height: 236px;
  padding-top: 282px;
}

.pic2 {
  width: 481px;
  height: 322px;
  padding-top: 239px;
  padding-right: 135px;
}

@media (max-width: 767px) {
  .center-size {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    background-image: url(img/mobile.jpg);
  }
  .h1 {
    padding-top: 239px;
    font-size: 32px;
    text-align: center;
  }
  .top-text {
    font-size: 14px;
    text-align: center;
    line-height: 22px;
  }
  .button {
    margin-top: 33px;
  }
  .act {
    display: flex;
    justify-content: center;
  }
  .bottom {
    height: 1221px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 32px;
  }
  .content-img {
    width: 100%;
  }
  .g-link {
    top: 217px;
    left: 12px;
  }
  .top-text > br {
    display: none;
  }
  .doublebottom {
    height: 654px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content2 {
    padding-top: 51px;
  }
  .h2 {
    font-size: 32px;
    text-align: center;
  }
  .doublebottom-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    width: 343px;
    height: 66px;
  }
  .pic {
    width: 344px;
    height: 236px;
    padding-left: 0px;
    padding-top: 0px;
  }
  .content2-img {
    width: 100%;
  }
  .triplelebottom {
    height: 654px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content3 {
    padding-top: 51px;
    order: 1;
  }
  .h3 {
    font-size: 32px;
    text-align: center;
    margin-top: 51px;
  }
  .triplebottom-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    width: 343px;
    height: 66px;
  }
  .pic2 {
    width: 344px;
    height: 231px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 64px;
    order: 2;
  }
  .content3-img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */